header{
    position: sticky;
    top: 0;
    z-index: 1;
}
header nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: auto;
    background-color: aliceblue;
    color: dodgerblue;
    box-sizing: border-box;
}
nav .nav-items{
    display: flex;
    position: relative;
}
header .responsive-icon{
    display: none;
}
nav a{
    text-decoration: none;
    display: block;
    color: dodgerblue;
    padding: 5px 10px;
    margin: 0 5px;
}
nav a:hover{
   text-decoration: underline;
}

@media screen and (max-width:688px) {
   header nav{
        flex-direction: column;
        margin: 0;
        width: auto;
        padding: 10px;
        position: absolute;
        transition: all 0.5s;
        z-index: -1 ;
    }
    .nav-items{
        flex-direction: column;
    }
    .nav-open{
        left: 0px;
    }
    .nav-close{
        left: -400px;
    }
    header .responsive-icon{
        display: block;
        position: fixed;
        top: 0;
    }
}
