nav{
    border:solid;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav .nav-items{
    display: flex;
}
nav a{
    text-decoration: none;
    display: block;
    padding: 5px 10px;
    margin: 0 5px;
}