.services-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px ;
    background-color: aliceblue;
    width: 80%;
    margin: auto;
    margin-top: 10px;
}
.service-container{
    display: flex;
    flex-direction: column;
    padding: 12px;
    justify-content: space-between;
    background-color: rgb(239, 239, 232);
    border-radius: 12px;

}
.service-container img{
    width: 100%;
}
@media screen and (max-width:688px) {
    .services-container{
        grid-template-columns: repeat(1, 1fr);
    }
}