.services-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px ;
    background-color: aliceblue;
}
.service-container{
    display: flex;
    flex-direction: column;
    padding: 12px;
    justify-content: space-between;
    background-color: rgb(239, 239, 232);
    border-radius: 12px;

}
.service-container img{
    width: 100%;
}